*{
    background-color: blanchedalmond;
    text-align: center;
    padding-top: 10px;
    font-size: 110%;
   

}

h1{
    font-size: 180%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}